/**
 * Float Layout Activity
 **/

*{
  box-sizing: border-box;
}

body {  
  background-image: url(../images/background.png);
  font-family: 'Times', 'Times New Roman', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
/*  padding: 5px 5px;*/
  color: #ffffff;
  margin: 0;
  float: left;
  margin: 5px;
}
/* {
  background-color: #ff6000;
  border-bottom: 1px solid #9999;
  padding: 20 12;
}
/*
header div {
  max-width: 960px;
  margin: 0 auto;
}

*/
#logo{
  float: left;
  padding: 12px 0px;
  text-decoration: none;
  background-color: #ff6000;
  color: #fff;
  box-sizing: border-box;
}
h1{
  clear: both;
  margin-top: 5px;
  float: left;
  padding-top: 0px;
  background-color: green;
  color: black;
  font-size: 36px;
  height: 100px;
  width: 200px;
}
div{
  position: relative;
  margin-top: 5px;
  margin-left: 0px;
  float: left;
  padding: 5px;
  background-color: beige;
  color: green;
  font-size: 50%;
  width: 300px;
  height: 300px;
}
#randNumToMatch {
  margin-top: 500;
  padding-top: 5px;
  max-width: 300px; 
  color: black;
  font-size: 36;
  background-color: green;
}
#wins {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  padding-top: 20px;
   text-decoration: none;
  background-color: cyan;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 50%;
}
#losses {
  float: left;
  margin-top: 55px;
  margin-left: -50px;
  padding: 0px;
  text-decoration: none;
  background-color: cyan;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 50%;
}
img{
   position: relative;
   margin-top:  5px;
   margin-left: 0px;
}
d{
  margin-left:  0px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 100px;
  background-color: teal;
  color: white;
  height: 200px;
  width: 960px;
  font-size: 50%;
}

#yourTotalScore {
  position: relative;
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 182px;
  background-color: teal;
  margin-top: 100px;
  color: white;
}
  /*
section img {
  float: left;
  margin-ri ht: 20px;
}
footer {
  text-align: center;
  border-top: 4px solid #393;
  background-color: #333;
  color: #ccc;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  }   
@media(max-width: 640px){

}
@media(max-width: 768px){

}
@media(max-width: 980px){

}
*/



